body
{
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    font-family: Helvetica;
    margin: 12px;
    color: #FFF;
    text-shadow: 1px 1px rgba(0,0,0,0.1) !important;
    font-family: Helvetica;
    background-image: url(../img/linen.jpeg);
    text-align: center;
}

select
{
    border: none;
    height: 30px;
    font-size: 20px;
    top: -6px;
}
select:focus
{
    outline: none;
}

.box
{
    border-radius: 3px;
    background: rgba(0,0,0,0.3);
    color: #FFF;
}

h1
{
    font-weight: normal;
    line-height: 48px;
    margin-top: 24px;
}

h1 b
{
    color: #CCC;
}

iframe
{
    position: absolute;
    width: 200px !important;
    height: 150px !important;
    right: 16px;
    top: 16px;
}

#cards_container
{
    width: 800px;
    height: 350px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 24px;
}

#cards_container.big,
#cards_container.image
{
    height: 350px;
}

#cards_container.small
{
    height: 170px;
}


#input
{
    font-size: inherit;
    border: inherit;
    color: inherit;
    font-weight: inherit;
    background-color: transparent;
    width: 100%;
    height: 100%;
    text-align: center;
    -moz-transition: background-color 0.2s; /* Firefox 4 */
    -webkit-transition: background-color 0.2s; /* Safari and Chrome */
    -o-transition: background-color 0.2s; /* Opera */
}

#hint
{
    font-style: italic;
    position: absolute;
    text-shadow: none;
    font-weight: normal;
    line-height: 12px;
    text-align: right;
    font-size: 12px;
    right: 12px;
    bottom: 12px;
}

input:focus
{
    outline: none;
}

.card
{
    position: relative;
    -o-transition: background-color .4s ease-in-out;
    -ms-transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    -webkit-transition: background-color .4s ease-in-out;
    transition: background-color .4s ease-in-out;
}

.card,
.card img
{
    border-radius: 10px;
}


.card.error
{
    background-color: rgba(163,23,31,0.3);
}
.card.ok
{
    background-color: rgba(115,160,53,0.3);
}


.big .card,
.image .card
{
    font-size: 150px;
    font-weight: bold;
    display: inline-block;
    border: none;
    width: 350px;
    height: 350px;
    line-height: 350px;
    text-align: center;
    margin-right: 30px;
    text-shadow: 3px 3px rgba(255,255,255,0.2) !important;
}

.image .card
{
    font-size: 32px;
}

.small .card
{
    font-size: 50px;
    font-weight: bold;
    display: block;
    border: none;
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin-bottom: 24px;
    text-align: center;
    text-shadow: 3px 3px rgba(255,255,255,0.2) !important;
}

.card:first-child
{
    float: left;
    margin-right: 0px;
}

.card:last-child
{
    float: right;
}


.answer
{
    width: 50%;
    line-height: 32px;
    padding: 12px;
    margin: auto;
    font-size: 18px;
    margin-top: 32px;
    margin-bottom: 16px;
    transition: background-color 0.3s;
    -moz-transition: background-color 0.3s; /* Firefox 4 */
    -webkit-transition: background-color 0.3s; /* Safari and Chrome */
    -o-transition: background-color 0.3s; /* Opera */
    opacity: 0;
}

.answer.error
{
    opacity: 1;
    background-color: rgba(163,23,31,0.3);
    transition: background-color 0.3s;
    -moz-transition: background-color 0.3s; /* Firefox 4 */
    -webkit-transition: background-color 0.3s; /* Safari and Chrome */
    -o-transition: background-color 0.3s; /* Opera */
}
.answer.success
{
    opacity: 1;
    background-color: rgba(115,160,53, 0.3);
    transition: background-color 0.3s;
    -moz-transition: background-color 0.3s; /* Firefox 4 */
    -webkit-transition: background-color 0.3s; /* Safari and Chrome */
    -o-transition: background-color 0.3s; /* Opera */
}

.answer.learn
{
    opacity: 1;
    background-color: rgba(188,127,63, 0.3);
    transition: background-color 0.3s;
    -moz-transition: background-color 0.3s; /* Firefox 4 */
    -webkit-transition: background-color 0.3s; /* Safari and Chrome */
    -o-transition: background-color 0.3s; /* Opera */
}

.consecutive
{
    font-size: 16px;
}

#history
{
    position: relative;
    margin: auto;
    width: 90%;
    padding: 24px;
    text-align: center;
    border-radius: 0px 0px 3px 3px;
}

#options
{
    position: absolute;
    border-radius: 3px 3px 0px 0px;
    right: 0px;
    top: -36px;
    height: 12px;
    padding: 12px;
}

#overall_stats
{
    position: absolute;
    border-radius: 3px 3px 0px 0px;
    left: 0px;
    top: -36px;
    height: 12px;
    padding: 12px;
}


#history span
{
    display: inline-block;
    padding: 6px;
    font-size: 12px;
    margin-right: 12px;
    margin-bottom: 6px;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.1);
    white-space: nowrap;
}

#history span.error
{
    background-color: rgba(163,23,31,0.3);
    color: #FFF;
}
#history span.success
{
    background-color: rgba(115,160,53, 0.3);
    color: #FFF;
}


.panel {
    width: 100%;
    height: 100%;
    position: relative;

    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}

.panel .front,
.panel .back
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.panel .front {
    z-index: 900;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;

    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.panel .back {
    z-index: 800;
    width: 100%;
    height: 100%;

    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    -moz-transform: rotateY(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;

    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.panel.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}

