body
{
    font-size: 16px;
    font-family: Helvetica;
    margin: 12px;
    color: #FFF;
    text-shadow: 1px 1px rgba(0,0,0,0.1) !important;
    font-family: Helvetica;
    background-image: url(../img/linen.jpeg);
    text-align: center;
}

.box
{
    border-radius: 3px;
    background: rgba(0,0,0,0.3);
    color: #FFF;
}

h1
{
    font-weight: normal;
}

.answer
{
    width: 50%;
    line-height: 50px;
    margin: auto;
    font-size: 24px;
    margin-top: 32px;
    opacity: 0;
}

.answer.error
{
    opacity: 1;
    background-color: rgba(163,23,31,0.5);
    transition: background-color 0.5s;
    -moz-transition: background-color 0.5s; /* Firefox 4 */
    -webkit-transition: background-color 0.5s; /* Safari and Chrome */
    -o-transition: background-color 0.5s; /* Opera */
}
.answer.success
{
    opacity: 1;
    background-color: rgba(115,160,53, 0.5);
    transition: background-color 0.5s;
    -moz-transition: background-color 0.5s; /* Firefox 4 */
    -webkit-transition: background-color 0.5s; /* Safari and Chrome */
    -o-transition: background-color 0.5s; /* Opera */
}

.answer.learn
{
    opacity: 1;
    background-color: rgba(188,127,63, 0.5);
    transition: background-color 0.5s;
    -moz-transition: background-color 0.5s; /* Firefox 4 */
    -webkit-transition: background-color 0.5s; /* Safari and Chrome */
    -o-transition: background-color 0.5s; /* Opera */
}



#random_container
{
    position: absolute;
    right: 0px;
    top: -36px;
    height: 12px;
    padding: 12px;
}

.consecutive
{
    font-size: 16px;
}

#cards_container
{
    width: 70%;
    height: 350px;
    margin: auto;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 24px;
}

input:focus
{
    outline: none;
}


.card
{
    font-size: 150px;
    font-weight: bold;
    display: inline-block;
    border: none;
    width: 250px;
    height: 250px;
    padding: 50px;
    line-height: 258px;
    text-align: center;
    margin-right: 30px;
    text-shadow: 3px 3px rgba(255,255,255,0.2) !important;
}

.card:last-child
{
    margin-right: 0px;
}


#history
{
    position: relative;
    margin: auto;
    width: 90%;
    padding: 24px;
    margin-top: 24px;
    text-align: center;
    border-radius-top: 0px;
 }

#history span
{
    display: inline-block;
    padding: 6px;
    font-size: 12px;
    margin-right: 12px;
    margin-bottom: 6px;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.1);
    white-space: nowrap;
}

#history span.error
{
    background-color: rgba(255,0,0,0.1);
    color: #FFF;
}
#history span.success
{
    background-color: rgba(0,255,0,0.1);
    color: #FFF;
}


