<!doctype html>

<html ng-app>
<head>
    <title>JLearn</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <script src="js/hiragana.js"></script>
    <script src="js/jlearn.js"></script>
    <link rel="stylesheet" href="css/main.css" type="text/css" charset="utf-8"/>
</head>
<body>
    <div ng-controller="CardCtrl" ng-cloak>
        <div class="answer box" ng-class="answer.status">
            <span ng-show="answer.status == 'success'">You were right!</span>
            <span ng-show="answer.status == 'error'">You were wrong!</span>
            Answer for <b>{{answer.card.source}}<b> was: <b>{{answer.card.target}}</b>
            <div class="consecutive" ng-show="consecutiveGoodAnswers > 3">{{consecutiveGoodAnswers}} good consecutive answers!</div>
        </div>


        <div id="cards_container">
            <div class="card box">{{currentCard.source}}</div>
            <input class="card box" id="input" type="text" maxlength="{{currentCard.target.length}}" ng-change="check()" ng-model="input"/>
        </div>
        <label id="random_container" class="box">random order<input type="checkbox" ng-model="random" ng-init="random=true"/></label>
        <div id="history" class="box">
            <span ng-repeat="card in cards" ng-class="getClass(card)" title="{{card.target}}">{{card.source}} ({{card.success}}/{{card.error}})</span>
        </div>
    </div>
</body>
</html>
